@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.real-estate-name-container {
    width: 839px;
    height: 223px;
    background: #ffffff;
    border-radius: 10px;
    /* margin-top: 24px;
    margin-bottom: 24px; */
    position: relative;
    margin: 0 auto 0 auto;
    margin-top: 24px;
}

.real-estate-name-container-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}

.real-estate-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 24px;
}

.real-estate-description-key{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
    color: #000000;
}

.real-estate-description-value{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
    color: #000000;
    opacity: 0.8;
}

.real-estate-line{
    width: 791px;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    align-items: center;
    margin-top: 24px;
    margin-left: 24px;
    opacity: 0.5;
}

.real-estate-name-footer{
    width: 100%;
    height: 57px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-right: 24px;
    align-items: center;
}


.real-estate-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 30.91px;
}

.margin-left{
    margin-left: 169px;
}

.real-estate-info-key{
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    font-weight: 500;
    Line-height: 19px;    
    opacity: 0.5;
    color: #000000;
}

.real-estate-info-value{
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 19px;
    font-weight: 500;
    margin-top: 16px;
    color: #000000;
}

.real-estate-info-value-1{
    margin-left: 24px;
    padding-bottom: 24px;
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 19px;
    font-weight: 500;
    color: #000000;
}
  
.dropdown__toggle {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dropdown__toggle:focus {
    outline: none;
}

.ic_share{
    width: 20px;
    height: 20px;
    color: #000000;
}

.dropdown__toggle .share {
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 19px;
    font-weight: 500;
    color: #000000;
}

.dropdown-container{
    position: relative;
    z-index: 99;
}

.dropdown__content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.dropdown__content.active {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnShare-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 16px;   
}

.btnShare-container:focus{
    outline: none;
}

.btnShare-container span{
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 19px;
    font-weight: 400;
    color: #000000;
}

.btn{
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn:focus {
    outline: none;
}

.btn-container .btn span {
    Font-family: Roboto;
    Font-style: normal;
    Font-size: 16px;
    Line-height: 19px;
    font-weight: 500;
    color: #000000;
}
