.main-password-container {
  width: 96%;
  height: 770px;
  margin-left: 24px;
  float: right;
  margin-top: 24px;
  margin-right: 24px;
  background: #ffffff;
  border-radius: 10px;
}
.m-top-38 {
  margin-top: 38px;
}
.m-top-24 {
  margin-top: 24px;
}
.m-top-53 {
  margin-top: 53px;
}
.m-left-24 {
  margin-left: 24px;
}
.m-left-337 {
  margin-left: 337px;
}
.m-right-30 {
  margin-right: 30px;
}
.m-right-55 {
  margin-right: 55px;
}
.m-right-24 {
  margin-right: 24px;
}
.m-left-16 {
  margin-left: 16px;
}
.input-field {
  display: flex;
  width: 360px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #a18474;
}
.invalid-input-field {
  display: flex;
  width: 360px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid red;
}
.password-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input.password-form-input {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  width: 288px;
  height: 48px;
  background-color: transparent;
}
input.password-form-input:focus {
  outline: none;
}

input.password-form-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: black;
  opacity: 0.5;
}
input.password-form-input::-ms-reveal {
  display: none;
}
div.separator {
  border-left: 1px solid #a18474;
  height: 47px;
}
.button-container {
  display: flex;
}
button.change-password-btn {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.change-password-btn:focus {
  outline: none;
}
button.cancel-btn {
  width: 92px;
  height: 40px;
  background-color: white;
  color: #a18474;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #a18474;
  border-radius: 10px;
}
button.save-btn {
  width: 92px;
  height: 40px;
  background-color: #a18474;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #a18474;
  border-radius: 10px;
}
.text-danger {
  font-size: 12px;
  font-weight: bold;
  margin-left: 177px;
  color: red;
}
.text-success {
  font-size: 12px;
  font-weight: bold;
  margin-left: 177px;
  color: #4bb543;
}
.MuiCircularProgress-colorPrimary {
  color: white !important;
}
