.change-pass-main-container {
  font-size: 16px;
  font-weight: 400;
}
* {
  font-family: "Roboto", sans-serif;
}
.weight-400 {
  font-weight: 400;
}

.change-pass-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 28px;
  margin-right: 5%;
}
.change-pass-container {
  width: 30%;
  height: auto;

  background-color: #ffff;
}
.bg-white {
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 15px;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.change-pass-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f0efed;
}
.forgot-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 7px;
  margin-right: 5%;
}

.m-top-42 {
  margin-top: 42px;
}

.change-pass-content {
  margin-left: 5%;
  margin-right: 5%;
}

.m-top-24 {
  margin-top: 24px;
}
.m-right-5-per {
  margin-right: 5%;
}
.footer-confirm-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forgot-input-field {
  border: 1px solid #a18474;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.invalid-input-field {
  border: 1px solid red;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weight-500 {
  font-weight: 500;
}
.font-16 {
  font-size: 16px;
  color: #000000;
}

.change-password-btn {
  width: 100%;
  margin-top: 24px;
  background-color: #a18474;
  color: white;
  font-weight: 500;
  height: 56px;
  border-radius: 10px;
}

.forgot-footer {
  display: flex;
  margin-top: 24px;
  padding-bottom: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.font-14 {
  font-size: 14px;
}
.primary-color {
  color: #a18474;
}
.forgot-text-danger {
  font-size: 12px;
  color: red;
}
.font-24 {
  font-size: 24px;
  color: #000000;
}
.invalid-input {
  border: 1px solid red;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-field {
  border: 1px solid #a18474;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.placeholder {
  position: absolute;
  float: left;
  margin-right: auto;
  margin-left: 15px;
  color: black;
  font-weight: 400;
  opacity: 0.5;
  pointer-events: none;
}
.require {
  color: red;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
.input-sign-up:valid + .placeholder {
  display: none;
}

input:focus {
  outline: none;
}
.input-sign-up {
  background-color: transparent;
  vertical-align: middle;
  margin-left: 16px;
  margin-right: 5px;
  width: 90%;
  color: #a18474;
}
.change-password-text-danger {
  font-size: 12px;
  color: red;
  font-weight: 500;
}

button:focus {
  outline: none;
}
.activation-container {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
}

.activation-container h1 {
  font-size: 16px;
  font-weight: 400;
}

.activation-custom-btn {
  margin-top: 25px;
  height: 57px;
  width: 30%;
  background-color: #a18474;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
