* {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}
.weight-400 {
  font-weight: 400;
}
.container {
  border-radius: 20px;
}
.header-forgot-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 28px;
  margin-right: 5%;
}
.forgot-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 7px;
  margin-right: 5%;
}

.m-top-42 {
  margin-top: 42px;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.m-top-24 {
  margin-top: 24px;
}

.footer-confirm-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forgot-input-field {
  border: 1px solid #a18474;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.invalid-input-field {
  border: 1px solid red;
  height: 56px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weight-500 {
  font-weight: 500;
}
.font-14 {
  font-size: 14px;
}
.email-input {
  background-image: url(../../assests/sign_in/user.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 16px;
  height: 50%;
  padding-left: 52.8px;
  margin-left: 2%;
  margin-right: 5%;
  color: #a18474;
  background-color: transparent;
}
input.email-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: black;
}

.send-email-btn {
  width: 100%;
  margin-top: 24px;
  background-color: #a18474;
  color: white;
  font-weight: 500;
  height: 56px;
  border-radius: 10px;
}

.forgot-footer {
  display: flex;
  margin-top: 24px;
  padding-bottom: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.font-14 {
  font-size: 14px;
}
.primary-color {
  color: #a18474;
}
.forgot-text-danger {
  font-size: 12px;
  color: red;
}
