@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
$assetPath: "../assests/404_error.png";
$primaryColor: #a18474;
$primaryFont: Roboto;
.container {
  background-color: #f0efed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url($assetPath);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title {
  color: $primaryColor;
  font-family: $primaryFont;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0.25px;
  text-align: center;
}
.mainButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
  margin-top: 33px;
  font-family: $primaryFont;
  color: white;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  width: 209px;
  height: 56px;
  padding: 0 32px;
  border-radius: 8px;
  :focus {
    outline: none;
  }

  a {
    display: inline-block;
    width: 238px;
    height: 64px;
    padding: 18.5px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
}
